/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
*{
  box-sizing: content-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(145, 145, 145, 0.481);
}

header{
  position: fixed;
  top:0;
  background-color: #2081C3;
  height: 50px;
  width: 100%;
}

/* header li{
  display: inline;
} */

h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1rem;
}
p{
  font-size: 0.8rem;
}

header ul{
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
  height: 100%;
  list-style-type: none;
}
header a{
  color: white;
  text-decoration: none;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #0A2C42;
  padding: 10px  0 0 10px;
  height: 40px;
}

.index-container{
  display: flex;
  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.beerimg{
  width: 250px;
  height: auto;
}

.beers-container{
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  flex-flow: row;
  flex-wrap: wrap;
  
}

.beer{
  padding: 7px;
  width: 30%;
  height: auto;
  margin: 1%;
  text-align: left;
  box-shadow: 7px 10px 30px -1px rgba(0,0,0,0.75);}
.beer-img{
  width: 100%;
  text-align: center;
}
.beer-img>img{
  margin: auto;
  width: 10%;
  height: 100%;
  object-fit: contain;
}

.rdm-img{
  height: 200px;
}
.rdm-img>img{
  height: 100%;
}
.random-beer-container{
  margin-top: 150px;
  margin-bottom: 40px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

